In [67]:
import pandas as pd

In [68]:
bikes=pd.read_csv('london_merged.csv')
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [69]:
bikes.shape

(17414, 10)

In [70]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [71]:
# Values and their count in weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [72]:
# Values and their count in season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [73]:
#Changing column to be more descriptive
new_col_names={
    'timestamp':'time',
    'cnt':'count',
    't1':'real_temp(C)',
    't2':'feels_like_temp(C)',
    'hum':'humidity(%)',
    'wind_speed':'wind_speed(kph)',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is-weekend',
    'season':'season'
}

bikes.rename(new_col_names,axis=1,inplace=True)

In [74]:
#Changing humidity to a value in 0 and 1
bikes['humidity(%)']=bikes['humidity(%)']/100

In [75]:
bikes['weather'].value_counts()

weather
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [76]:
#Creating dictionary to map season values
season_dict={
'0.0':'spring',
'1.0':'summer', 
'3.0':'winter',
'2.0':'autumn'
}

#Creating dictionary to map season values
weather_dict={
    1.0:'Clear',
    2.0:'Scattered Clouds',
    3.0:'Broken Clouds',
    7.0:'Rain',
    4.0:'Cloudy',
    26.0:'Snowfall',
    10.0:'Rain and Thunderstorm'     
}

In [77]:
bikes['season']=bikes['season'].astype('str')

bikes['season']=bikes['season'].map(season_dict)
bikes['weather']=bikes['weather'].map(weather_dict)

In [78]:
bikes.head()

,time,count,real_temp(C),feels_like_temp(C),humidity(%),wind_speed(kph),weather,is_holiday,is-weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [79]:
# Writing back to excel to use for visualization\
bikes.to_excel('london_bikes_final.xlsx',sheet_name='data')